:root {
    --background-color: #f6f8fb;
    --white: #f6f8fb;
    --radius: 10px;
    --text-color: #222f7d;
    --margin: 5px;
    --padding: 15px;
}

$margin: var(--margin);
$padding: var(--padding);

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    * {
        margin: var(--margin);
    }
}

// Components
.breadcrumb {  
    padding: 0;
    list-style: none;
    list-style-type:">";
    display: flex;
    gap: 10px;
    li:first-child {
        list-style-type:"";
        padding-left: 0;
    }
    li {
        padding-left: 10px;
    }
}

// animation
@for $i from 1 through 20 {
    .animation-delay-#{$i * 250} {
        animation-delay: #{$i * 250}ms !important;
    }
}

.fade-in-up {
    opacity: 0;
    position: relative;
    top: 10px;
    animation: fadeInUp 250ms forwards;
}

@keyframes fadeInUp {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1;
        top: 0px; 
    }
}

.fade-in-right {
    opacity: 0;
    position: relative;
    left: -10px;
    animation: fadeInRight 250ms forwards;
}

@keyframes fadeInRight {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1;
        left: 0px; 
    }
}


.zero-inline-padding {
    padding-inline: 0;
}

.tab {
    margin-left: calc(6 * #{$margin}) !important;
}

.mb-3 {
    margin-bottom: calc(#{$margin} * 3);
}