@mixin component() {
    padding: calc(#{$margin} *2) $padding;
    margin: var(--margin);
}

@mixin header() {
    height: 72px;
    padding: calc(#{$padding} / 2);
    display: flex;
    align-items: center;
    box-sizing: border-box !important;
    h1 {
        font-size: x-large;
    }
}

.header {
    @include header;
}


section {
    @include component;
}


@mixin input-theme() {
    padding: calc(#{$margin} * 2.5) $padding ;
    border-radius: var(--radius);
    border: none;
    width: 100%;
    &:focus-visible {
        border-radius: var(--radius);
        outline: 1px #100f0f1f solid;
    }
}

select, input {
    @include input-theme;
}

@import 'table';
@import 'menu_left';
@import 'file_manager';

