.file-manager {
    @include component;
    padding: 0;
    list-style: none;
    list-style-type:"\2BC8";
    color: #7780af;
    li {
        width: fit-content;
    }
    span {
        color: #aaafcd;
        margin-right: 10px !important;
    }

    * {
        cursor: pointer;
    }
}