
table {
    border-spacing: 0px;
    
    th, td {
        text-align: left;
        padding: calc(#{$padding});
    }

    tbody {
        tr:hover {
            background-color: #ffffff;
            td:first-child {
                border-radius: var(--radius) 0 0 var(--radius);
            }

            td:last-child {
                border-radius:  0 var(--radius) var(--radius) 0;
            }
        }
    }

    thead {
        color: #6b75a9;
        tr {
            th {
                padding: 14px 15px;
            }
        }
    }
}