@import "commons";
@import "components";

#app {
    display: flex;
    margin: 0;
    padding: 0;
    .title {
        @include component;
        text-align: left;
        border-bottom: 1px #f7f8fb solid;
    }

    .menu-left {
        margin: 0;
        padding: 0;
    }
    .content {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
